@import "~bulmaswatch/flatly/_variables.scss";
@import "~bulma/bulma.sass";
@import "~bulmaswatch/flatly/_overrides.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat%3A400%7CPoppins%3A700%2C600&ver=1527756273');

body {
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat;
  letter-spacing: -0.5px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

%heading {
  font-family: Poppins;
  text-transform: uppercase;
}

h1 {
  @extend %heading;
  letter-spacing: -3px;
  font-size: 65px;
  line-height: 70px;
  font-weight: 700;
}

h2 {
  @extend %heading;
  letter-spacing: -2px;
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
}

h3 {
  @extend %heading;
  letter-spacing: -2px;
  font-size: 25px;
  line-height: 45px;
  font-weight: 600;
}

h4 {
  @extend %heading;
  letter-spacing: -2px;
  font-size: 20px;
  line-height: 45px;
  font-weight: 600;
}

.content-box {
  position: relative;
  z-index: 1;
  margin-top: 15px;
  width: calc(100% - 30px);
  &:not(.is-full) {
    max-width: 1500px !important;
  }
  padding: 25px;
  overflow: auto;
}

p {
  margin-top: 10px;
}

.button {
  .icon {
    margin-right: 5px !important;
  }
}



.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

.tooltip {
  opacity: 0.99;
  z-index: 5;
  margin: 40px;
  color: white;
  border-radius: 5px;
  background-color: black;
  padding: 5px;
}
.tooltip {
  pointer-events: none !important;
}
